@charset "uft-8";

/* Noto Sans KR */
@font-face {
    font-family: '';
    src: url('font/NotoSansKR-Light-Alphabetic.eot');
    src: url('font/NotoSansKR-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSansKR-Light-Alphabetic.woff2') format('woff2'),
        url('font/NotoSansKR-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '';
    src: url('font/NotoSansKR-Bold-Alphabetic.eot');
    src: url('font/NotoSansKR-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSansKR-Bold-Alphabetic.woff2') format('woff2'),
        url('font/NotoSansKR-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '';
    src: url('font/NotoSansKR-Medium-Alphabetic.eot');
    src: url('font/NotoSansKR-Medium-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSansKR-Medium-Alphabetic.woff2') format('woff2'),
        url('font/NotoSansKR-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '';
    src: url('font/NotoSansKR-Thin-Alphabetic.eot');
    src: url('font/NotoSansKR-Thin-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSansKR-Thin-Alphabetic.woff2') format('woff2'),
        url('font/NotoSansKR-Thin-Alphabetic.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '';
    src: url('font/NotoSansKR-Regular-Alphabetic.eot');
    src: url('font/NotoSansKR-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('font/NotoSansKR-Regular-Alphabetic.woff2') format('woff2'),
        url('font/NotoSansKR-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Bold.eot');
    src: url('font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-Bold.woff2') format('woff2'),
        url('font/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-MediumItalic.eot');
    src: url('font/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-MediumItalic.woff2') format('woff2'),
        url('font/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-LightItalic.eot');
    src: url('font/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-LightItalic.woff2') format('woff2'),
        url('font/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Light.eot');
    src: url('font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Roboto-Light.woff2') format('woff2'),
        url('font/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    font-family: 'NotoSansKR';
}

.inner {
    max-width: 1440px;
    width: calc(100% - 40px);
    margin: 0 auto;
}
